/* variables */
:root {
  /* colors */
  --primary-color: hsl(257, 27%, 26%); /* Dark Violet */
  --primary-color-alt: hsl(180, 66%, 49%); /* Cyan */
  --secondary-color: hsl(0, 87%, 67%); /* Red */
  --grey: hsl(0, 0%, 75%);
  --soft-grey: hsl(0, 0%, 95%);
  --grayish-violet: hsl(257, 7%, 63%);
  --vary-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);

  /* helpers */
  --cards-margin: 3rem;
}
/* end variables */

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--vary-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

input,
button {
  flex: 1 1 10ch;
  margin: 0.5rem;
  border: none;
  background: hsl(0, 0%, 93%);
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 38px;
}

form {
  width: 100%;
}

header,
nav,
footer {
  padding: 2rem 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  min-height: 2rem;
}

/* Helpers */
.container {
  padding: 2rem 6rem;
}

.section-flex {
  display: flex;
}

.btn {
  min-width: 130px;
  min-height: 40px;
  padding: 6px 10px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn-primary {
  color: #fff;
  border: 2px solid var(--primary-color-alt);
  background: var(--primary-color-alt);
}

.btn-rounded {
  border-radius: 40px;
}

.btn:hover {
  background: #fff;
  color: var(--primary-color-alt);
}
/* end Helpers */

/* Menu */
#nav-menu-button {
  display: none;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  display: flex;
  align-items: center;
}

.nav-ul > li {
  display: flex;
}

.nav-link {
  flex: 1;
  flex-basis: auto;
  padding: 1rem 1.5rem;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: var(--grey);
  font-weight: 700;
  transition: 200ms;
}

#btn-signup {
  color: #fff;
}

#btn-signup:hover {
  color: var(--primary-color-alt);
}

.nav-link:hover {
  color: var(--primary-color);
  border-bottom: 2px var(--primary-color) solid;
}
/* end Menu */

/* Main */
.section {
  padding: 6rem 0;
  min-height: 3rem;
}

/* Hero */
#hero {
  padding-top: 1em;
}

.hero-cta {
  max-width: 48%;
}

.hero-container {
  margin-right: 10%;
}

.hero-cta h1 {
  line-height: 1.25em;
  margin-bottom: 0.2em;
}

.hero-cta h2 {
  font-size: medium;
  color: var(--grey);
  line-height: 1.5em;
  margin-bottom: 0.2em;
}

#hero-btn-get-started {
  margin-top: 2rem;
  line-height: 1.8;
  font-size: 1.25em;
  padding: 6px 24px;
  min-width: 180px;
}

/* Shorten form */
.shortener {
  display: flex;
  z-index: 3;
  margin: 0 7rem;
  padding: 2.5rem;
  background-color: var(--primary-color);
  background-image: url("../img/bg-boost-desktop.svg");
  background-position: center;
  border-radius: 12px;
}

.shorten-form {
  display: flex;
  flex-wrap: wrap;
}

.shorten-form > input[type="text"] {
  flex: 3 1 30ch;
}

/* Advanced statistics */
#statistics-info {
  margin-top: -4em;
  padding-top: 10em;
  background-color: var(--soft-grey);
}

.tittle h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.tittle p {
  padding: 0 30%;
  color: var(--grey);
  margin-bottom: 6rem;
  text-align: center;
}

.card {
  margin: 1.6rem;
  background-color: #fff;
  border-radius: 12px;
  padding: 2em;
  max-height: 278px;
}

.card:nth-child(1) {
  margin-top: var(--cards-margin);
}

.card:nth-child(2) {
  margin-top: calc(var(--cards-margin) * 2);
}

.card:nth-child(3) {
  margin-top: calc(var(--cards-margin) * 3);
}

.card-icon {
  margin-top: -4.4rem;
  background-color: var(--primary-color);
  max-width: fit-content;
  padding: 1.4rem;
  border-radius: 50%;
}

.card-body {
  margin-top: 1.4rem;
}

.card-body h3 {
  margin-bottom: 1em;
}

.card-body p {
  color: var(--grey);
}

/* CTA Boost */
#cta-boost {
  padding: 3.5rem;
  background-color: var(--primary-color);
  background-image: url("../img/bg-boost-desktop.svg");
  background-position: center;
  text-align: center;
}

#cta-boost h2 {
  color: #fff;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  background-color: var(--very-dark-violet);
}

footer h4 {
  color: #fff;
  margin-bottom: 1rem;
}

footer li {
  flex: 1 0 auto;
  display: block;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

footer li a {
  color: var(--grey);
}

.social-media-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-media-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-media-links li {
  margin-left: 1rem;
}

/* Mobile specific helpers */
@media (max-width: 376px) {
  h2 {
    font-size: 22px;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  nav,
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
  }

  /* Helpers */
  .container {
    padding: 1rem;
  }

  .section-flex {
    display: block;
  }

  /* Menu */
  #nav-container {
    flex-direction: column;
    text-align: center;
  }

  #nav-menu-button {
    display: block;
    padding: 1rem;
    cursor: pointer;
  }

  nav {
    padding: 0 1rem;
    z-index: 5;
  }

  .nav-ul {
    border-radius: 12px;
    background-color: var(--primary-color);
    display: block;
    flex-direction: column;
    overflow: auto;
    transition: max-height 400ms;
    max-height: 80vh;
  }

  .nav-ul #btn-signup {
    align-items: center;
    margin: 1rem 2rem;
    width: 100%;
  }

  .nav-ul > li {
    justify-content: center;
  }

  .hide-ul {
    max-height: 0;
  }

  .nav-link {
    padding: 1rem 0;
    font-size: 1rem;
    color: #fff;
  }

  .nav-link:hover {
    color: var(--primary-color-alt);
  }

  /* Hero */
  #hero > .section-flex {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-cta {
    max-width: 100%;
  }

  .hero-container {
    margin-right: 0;
    text-align: center;
  }

  .hero-cta h1 {
    font-size: 36px;
    margin-bottom: 2rem;
  }

  .hero-cta h2 {
    margin: 0 1rem 2rem 1rem;
  }

  #hero-btn-get-started {
    margin-bottom: 2rem;
  }

  .hero-img {
    margin-bottom: 2rem;
  }

  /* Shorten form */
  .shortener {
    margin: 0 1rem;
    padding: 2rem;
    background-image: url("../img/bg-boost-mobile.svg");
  }

  .shorten-form > input[type="text"] {
    width: 94%;
  }

  /* Advanced statistics */
  #statistics-info {
    margin-top: -5em;
    padding-top: 6em;
    background-color: var(--soft-grey);
  }

  .tittle h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .tittle p {
    padding: 0;
    margin-bottom: 4rem;
  }

  /* CTA Boost */
  #cta-boost {
    /* padding: 3.5rem 1rem; */
    background-image: url("../img/bg-boost-mobile.svg");
    background-position: center;
    text-align: center;
  }

  #cta-boost h2 {
    color: #fff;
    margin-bottom: 1rem;
  }

  /* Footer */
  footer {
    text-align: center;
  }
  footer .logo,
  footer .social-media-links {
    display: flex;
    justify-content: center;
  }

  footer .logo {
    margin-bottom: 2em;
  }

  footer li:last-child {
    margin-bottom: 2em;
  }
}
