/* Google webfonts */
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v20-latin-500.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v20-latin-700.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* end Google webfonts */

/* reset */
/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  /* color-scheme: dark light; */
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/* end reset */

/* variables */
:root {
  /* colors */
  --primary-color: hsl(257, 27%, 26%); /* Dark Violet */
  --primary-color-alt: hsl(180, 66%, 49%); /* Cyan */
  --secondary-color: hsl(0, 87%, 67%); /* Red */
  --grey-color: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --vary-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);

  /* helpers */
  --main-padding: 6rem;
  --secondary-padding: 2rem;
}
/* end variables */

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--vary-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

form {
  width: 100%;
}

header,
footer {
  padding: var(--secondary-padding) var(--main-padding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  padding: var(--secondary-padding) var(--main-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  min-height: 2rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: baseline;
}

.menu li {
  flex: 1 0 auto;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 0 1rem;
}

.menu li a {
  color: var(--grey-color);
  font-weight: 700;
}

.menu li a.btn-rounded {
  color: #fff;
}

.menu li a.btn-rounded:hover {
  color: var(--primary-color-alt);
}

.btn {
  min-width: 130px;
  min-height: 40px;
  padding: 6px 10px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn-primary {
  color: #fff;
  border: 2px solid var(--primary-color-alt);
  background: var(--primary-color-alt);
}

.btn-rounded {
  border-radius: 40px;
}

.btn-rounded:hover {
  background: #fff;
  color: var(--primary-color-alt);
}

/* Main */
.section {
  padding: var(--main-padding) 0;
  min-height: 3rem;
}

.section-flex {
  display: flex;
}

/* Hero */
.hero {
  padding-top: 1em;
}

.hero-cta {
  max-width: 48%;
}

.hero-container {
  margin-right: 10%;
}

.hero-cta h2,
.hero-cta h3 {
  line-height: 1.25em;
  margin-bottom: 0.2em;
}

.hero-cta h3 {
  font-size: medium;
  line-height: 1.5em;
}

#btn-get-started {
  margin-top: 2rem;
  line-height: 1.8;
  font-size: 1.25em;
  padding: 6px 24px;
  min-width: 180px;
}

/* Shorten form */
.shortener {
  display: flex;
  z-index: 3;
  margin: 0 4rem;
  padding: 2.5rem;
  background-color: var(--primary-color);
  background-image: url("../img/bg-boost-desktop.svg");
  background-position: center;
  border-radius: 12px;
}

.shorten-form {
  display: flex;
  flex-wrap: wrap;
}

.shorten-form > input,
.shorten-form > button {
  flex: 1 1 10ch;
  margin: 0.5rem;
}

.shorten-form > input[type="text"] {
  flex: 3 1 30ch;
}

.shorten-form > input,
.shorten-form > button {
  border: none;
  background: hsl(0, 0%, 93%);
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}

.shorten-form > button {
  background: var(--primary-color-alt);
  color: white;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: var(--very-dark-violet);
}

footer h4 {
  color: #fff;
  margin-bottom: 1rem;
}

footer li {
  flex: 1 0 auto;
  display: block;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

footer li a {
  color: var(--grey-color);
}

.social-media-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-media-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-media-links li {
  margin-left: 1rem;
}
